body {font-family: 'helvetica_neue_ltroman';}
.topbar-wrapp {
    background-color:#EC2533; height:42px;
}

.topbar-content {
    display: table;
    width: 100%;
}
.top-bar-left {
    display: table-cell;
    overflow: hidden;
    line-height: 42px;
}
.top-bar-right {
    display: table-cell;
    vertical-align: top;
}
.topbar-wrapp .top-bar-left {
    color: rgba(255,255,255,.9);
}
.topbar-menu {
    float: right;
}

.topbar-menu ul li {
    border-left: 1px solid rgb(255 255 255 / 55%);
    padding:0 5px 0 15px;
}
.topbar-menu ul li a {text-transform:uppercase;color: #fff; display: block;
line-height: 42px; font-size: 14px;position: relative;}
.topbar-menu ul li:first-child {border-left: 0px;}
.topbar-menu ul li a i {margin-right: 10px;}
.header-links {margin-right:15px;border-right: 2px solid #ececec; height: 65px; line-height: 65px; padding-right: 30px; display: inline-block;}
.header-links li a {font-style: italic; color: #000; position: relative; padding-bottom: 10px;}
.search-btn, .wishlist-info, .shoppingCart {display: inline-block; vertical-align: middle; margin-left: 20px; position: relative;}
.wishlist-count {
    padding: 0;
    width: 15px;
    height: 15px;
    line-height: 13px;
    text-align: center;
    border-radius: 50%;
    background-color: #ED413F;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    font-size: 10px;
    color: #fff;
    top: -2px;
    left: calc(50% + 12px);
    transform: translateX(-50%);
}





.logo-he {max-height: 65px;}
.shoppingCart>a>span:not(.basel-cart-totals) {
    display: none;
}
.search-btn i, .wishlist-info i, .shoppingCart i {
    font-size: 20px; color: #000;
}
.search-btn a, .wishlist-info a, .shoppingCart a {
    color: #000;
}
.wishlist-info a {font-size: 20px;}
.shoppingCart {margin-left: 25px;}
.basel-cart-totals {
    margin-left: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    text-transform: uppercase;
}

h2.page-heading {font-size: 32px; text-transform: uppercase; color: #000; text-align: center; position: relative;padding-bottom: 30px;margin-bottom: 20px;}
h2.page-heading span {font-size: 16px; text-transform: uppercase; color: #A4A4A4; display: block; margin-bottom: 10px;
    font-family:'Montserrat', sans-serif;
font-weight: 500;letter-spacing: 3px;}
h2.page-heading::before {
    background: url(../images/heading-img.png) no-repeat;
    content: "";
    position: absolute;
    height: 15px;
    width: 97px;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
}
.subhead {
    font-family:'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}
.feature-pro {margin-top: 30px;}
.all-btn .btn-primary {
    border-radius: 0px; 
    padding: 10px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
}
.features-pro-price {
    margin-top: 20px;
    }
.features-pro-price p, .features-pro-price .productPrice {
        font-family:'Montserrat', sans-serif;
        font-weight: 500;
        margin-bottom: 10px;
        color: #000;
    }
.feature-pro-img {overflow: hidden; padding-bottom: 10px;height: 265px;}
    .feature-pro-img img  {
        transition: transform .2s;
    }
.pro-list-box:hover .feature-pro-img img {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
    }
.pro-list-box {position: relative; margin-bottom: 30px;}
.pro-list-box a {display: block;}
.pro-list-box a:hover {text-decoration: none;}
.quickview {
    position: absolute;
    top: 0px;
    right: 0px;
    transition: transform .2s;
    z-index: 9;
}
.quickview a {
    display: block;
    color: #000;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.pro-list-box:hover .quickview a {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
}

.userImg {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto;
}
.testimonials-box {
    text-align: center;
}
.testimonials-box p {
    font-family:'Montserrat', sans-serif;
    font-weight: 500;
}
.userName {
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    color: #a5a5a5;
}
.brands-box-f {
    padding: 15px;
    text-align: center;
}
.brands-box-f img {
    height: 40px;
    width: auto !important;
    display: inline-block !important;
}
.brands-txt {
    margin-top: 21px;
    border-right: 2px solid #ccc;
    line-height: 34px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
}

footer {background-color: #EC2533; padding: 40px 0;}
.footersitemap h3 {
    font-size: 18px;
    font-family:'Montserrat', sans-serif;
        font-weight: 700;
        color: #ffffff;
}
.footerlinks a {
color: #ffffff;
font-family:'Montserrat', sans-serif;
font-weight: 600;
font-size: 14px;
display: inline-block;
padding: 7px 0;
position: relative;
}
.footersitemap {
    margin-top: 50px;
}
.footerRight p {
    font-size: 14px;
    color: #fff;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
}
.copyright {
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-top: 30px;
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
}
.footersocial li  {
    padding: 0 5px;
}
.footersocial li a {
    color: #fff;
    font-size: 28px;
}
.footersocial li a:hover {color: #000;}
.footerlinks a:hover, .topbar-menu ul li a:hover {color: #fff;}
.footerlinks a:after, .topbar-menu ul li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    bottom: 5px;
  }
  .footerlinks a:hover:after, .topbar-menu ul li a:hover:after { 
    width: 100%; 
    left: 0;
  }
  .brands-box a {display: block; position: relative; overflow: hidden;text-align: center; position: relative;}
  .brands-box img  {
    transition: transform .2s;
}
.brands-box:hover img {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.brandsName {
    position: absolute;
    bottom: 20px;
    background: #fff;
    padding: 13px 20px;
    color: #000;
    left: 50%;
    /* right: 0; */
    margin-left: auto;
    box-shadow: 0 0 3px #ccc;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}


@media (max-width:1023px) {
    h2.page-heading {font-size: 24px;}
    h2.page-heading span {font-size: 14px;}
    .basel-cart-totals, .header-links {display: none;}
    .navbar {position: fixed;}
    .search-btn, .wishlist-info, .shoppingCart {margin-left: 10px;}
    .top-bar-right {display: none;}
    .top-bar-left {text-align: center;}
    .quickview a {
        opacity: 1;
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    }
    .logo-he {max-height: 55px;}
    .shoppingCart {
        margin-left: 18px;
    }
    .subhead br {display: none;}
    .bg-light.brands-box {
        margin-bottom: 20px;
    }
    .shoppingCart>a>span:not(.basel-cart-totals) {
        display: block;
        position: absolute;
        background: #ec2533;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        color: #fff;
        line-height: 13px;
        text-align: center;
        font-size: 12px;
        top: -3px;
        right: -12px;
    }
    
}

@media (max-width:767px) {
    .brands-txt {text-align: center; border-right:0;}
}